.failureModal{
    width: fit-content;
    padding: 0.5rem 1rem;
    background: red;
    border-radius: 10px;
    font-weight: 700;
    /*margin-left: 50%;
    transform: translate(-50%,50%); -50% Eje X, 50% Eje Y*/
    margin-top: 2rem;
  }
  .successModal{
    width: fit-content;
    padding: 0.5rem 1rem;
    background: greenyellow;
    color: black;
    border-radius: 10px;
    font-weight: 700;
    /*margin-left: 50%;
    transform: translate(-50%,50%); -50% Eje X, 50% Eje Y*/
    margin-top: 2rem;
  }  