.editProfileFormContainer{
    width: 100%;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#editProfile{
    width: 90%;
    margin-left: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#editProfile .inputGroup{
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(60,60,60);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.inputGroup.inputFile input{
    color: black;
}
.modifyProfileForm{
    margin-top: 4rem;
}
form .confirmEdit{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid black;
    text-transform: uppercase;
}
.unshowModifyForm{
    padding: 0.5rem 0.8rem;
    width: 20%;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
}

@media screen and (max-width:650px) {
    .unshowModifyForm{
        padding: 0.5rem 0.8rem;
        width: 150px;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}
