.fas{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0rem 0rem;
    padding: 0.5rem;
}
.optionsPubli{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin: 3rem 1rem 0rem 0rem;
    background-color: black;
}
.optionsPubli li{
    margin: 0.5rem 1rem;
    cursor: pointer;
}
.show{
    display: flex;
    pointer-events: all;
}
.show{
    display: none;
    pointer-events: none;
}