.optionsDropDownPublication .fas{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0rem 0rem;
    padding: 0.5rem;
}
.optionsPubli{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    margin: 3rem 1rem 0rem 0rem;
    background-color: black;
    border-radius: 5px;
    padding: 1rem;
}
.optionsPubli li{
    display: list-item;
    margin: 0rem 1rem;
    padding: 0.50rem ;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}
.optionsPubli .separator{
    width: 70%;
    padding: 0;
    display: flex;
    height: 1px;
    background-color: whitesmoke;
}
.show{
    display: flex;
    pointer-events: all;
}
.show{
    display: none;
    pointer-events: none;
}