nav{
  background-color: #452c63;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  /*border-radius: 20px;
  margin-left: 1%;
  margin-top: 0.25rem;*/
}
nav #imageLogo{
  padding: 0rem;
  margin-right: 0rem;
  background: none;
  box-shadow: none;
  border-radius: 0;
}
nav div{
  display: flex;
}
nav div a{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
}
nav img{
  height: 60px;
  width: auto;
  margin-left: 1rem;
  border-radius: 10px;
}
nav a{
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(90, 27, 148);
  box-shadow: 1px 2px 5px black;
  border-radius: 10px;
}
nav .failureModal{
  margin-top: 0px;
  margin-bottom: 0px;
}
nav a #newFollowers{
  width: 15px;
  height: 15px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-left: 0.25rem;
}
#mobile{
  display: none;
  pointer-events: none;
}

.unloggedNavbar{
  display: flex;
  justify-content: space-between;
}
.unloggedNavbar a{
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(90, 27, 148);
  box-shadow: 1px 2px 5px black;
  border-radius: 10px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
}

@media screen and (max-width:1140px) {
  nav{
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    height: 50px;
  }
  nav #links{
    flex-direction: column;
    position: absolute;
    /*Si quito width:100% y dejo right, se crea una mini ventana a la derecha; right: 10px;*/
    width: 100%;
    margin-top: 351px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  nav #linksNotLogged{
    flex-direction: column;
    position: absolute;
    /*Si quito width:100% y dejo right, se crea una mini ventana a la derecha; right: 10px;*/
    width: 100%;
    margin-top: 245px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  nav #links a, nav #linksNotLogged a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
    box-shadow: none;
  }
  #mobile{
    display: flex;
    pointer-events: all;
    align-items: center;
  }
  #mobile i{
    width: 45px;
    margin-left: 10px;
    color: white;
  }
  .inactive{
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}