nav{
  background-color: blueviolet;
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  padding: 1rem 0rem;
  border-radius: 20px;
  margin-top: 0.25rem;
}
nav div{
  display: flex;
}
nav div a{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
}
nav img{
  height: 60px;
  width: auto;
  margin-left: 1rem;
  border-radius: 10px;
}
nav a{
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(90, 27, 148);
  box-shadow: 1px 2px 5px black;
  border-radius: 10px;
}
nav .failureModal{
  margin-top: 0px;
  margin-bottom: 0px;
}
nav a #newFollowers{
  width: 15px;
  height: 15px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-left: 0.25rem;
}
#mobile{
  display: none;
  pointer-events: none;
}

@media screen and (max-width:1140px) {
  nav{
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    height: 50px;
  }
  nav #links{
    flex-direction: column;
    position: absolute;
    right: 10px;
    margin-top: 20rem;
    background-color: black;
    border-radius: 20px;
  }
  nav #links a{
    margin-top: 0.5rem;
    background-color: transparent;
    box-shadow: none;
  }
  #mobile{
    display: flex;
    pointer-events: all;
    align-items: center;
  }
  #mobile i{
    width: 60px;
    color: white;
  }
  .inactive{
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}