.makePublication{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: black;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    align-items: start;
  }
  .makePublication #inputText{
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    height: 50px;
    padding: 0.5rem;
    word-wrap: break-word;
    font-weight: 500;
  }
  .makePublication .multimediaOptions li{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0rem 1rem;
  }
  .makePublication .multimediaOptions li #fileInput{
    margin-left: 20%;
  }
  .makePublication .btn{
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 50%;
    width: 20%;
    font-weight: 500;
    transform: translate(-50%); 
    border: 3px solid #452c63;
  }
  .makePublication .failureModal{
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 1rem;
    width: fit-content;
  }
  .makePublication .failureModal h2{
    font-size: 1.2rem;
    word-wrap: normal;
  }

  @media screen and (max-width:1140px){
    .makePublication{
      align-items: center;
      width: 90%;
      margin: 1rem;
    }
    .makePublication #inputText{
      margin-left: 0%;
      width: 100%;
    }
    .makePublication .multimediaOptions li{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .makePublication .multimediaOptions li #fileInput{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }
    .makePublication .btn{
      width: 100%;
      margin-left: 0%;
      transform: none;
    }
  }