.userProfile{
    display: flex;
    flex-direction: column;
    background-color: rgb(20,20,20);
    /*background-color: rgb(83, 89, 89);*/
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
    border-radius: 10px;
    
    /* A modo de probarlo quise introducirlo
    background-image:url('/night-sky.jpg') ;
    background-position: center center;
    background-size: cover;*/
}

.userProfile #profilePic{
    background-color: aliceblue;
    width: 300px;
    border-radius: 50%;
}

.userProfile .followBtn{
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border: 3px solid blueviolet;
}