.tagPage{
    height: fit-content;
}
.publicationsPerTag{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    justify-self: center;
}
.publicationsPerTag button{
    grid-column: 1/4;
    width: 15%;
    margin-left: 42.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.8rem 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
}
.publicationsPerTag .publication{
    margin-left: 10%;
    /*transform: translate(-50%);*/
    width: 80%;
    height: 500px;
}
.publicationsPerTag .publication img{
    object-fit: contain;
    object-position: center;
}

@media screen and (max-width:1140px){
    .publicationsPerTag{
        display: flex;
        flex-direction: column;
    }
    
}